
  <h1>This Is My Project</h1>

<section class="login">
  <h2>Login</h2>
<form action="signup.html" method="post">
   <div>
   <label for="email">Enter Email</label><br/>
    <input type="text" name="email" class="form-control" id="email" placeholder="youremail@domain.com" value="">
  </div><br/>
   <div>  
    <label for="password">Enter Password</label><br/>
    <input type="text" name="password" class="form-control" id="password" placeholder="Password">
  </div><br/> 
   <div>
   <button type="submit"> Submit</button> 
  </div> 
  </form>
</section>

<section class="signup">
  <h2>Sign-Up</h2>

<form action="confirmation.html" method="post">
  <div>
    <label for="first_name">First Name</label><br/>
    <input text="first_name" name="first_name" class="form-control" id="first_name" placeholder="First" value="">
  </div><br/>
  <div>
    <label for="last_name">Last Name</label><br/>
    <input text="last_name" name="last_name" class="form-control" id="last_name" placeholder="Last">
  </div><br/>
  <div>
    <label for="email2">Enter Email</label><br/>
    <input type="text" name="email2" class="form-control" id="email2" placeholder="youremail@domain.com"> 
  </div><br/>
   <div> 
    <label for="password2">Enter Password</label><br/>
    <input type="text" name="password2" class="form-control" placeholder="Password" id="password2">
  </div><br/>
  <div>
   <button type="submit">Submit</button>
  </div>
 </form> 
</section>
</div>
